body,
html {
  width: 100%;
  height: 100%;
  background-color: $white;
  font-family: $roboto, sans-serif;
  overflow-x: hidden;
}

.container {
  width: $mainWrapperWidth;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include below('desktop') {
    width: 100%;
    padding: 0 50px;
  }
  @include below('tablet') {
    padding: 0 30px;
  }
  @include below('mobile-s') {
    padding: 0 15px;
  }
}

.button {
  border-radius: 5px;
  background-color: $white;
  font-weight: normal;
  outline: 0;
  border: 0;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;

  &:hover {
    background-color: $red;
    color: $white;
  }
}

a {
  text-decoration: none;
}
