footer {
  margin-top: 50px;

  .container {
    flex-direction: column;
  }

  .footerMenu {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    @include below('tablet-xs') {
      flex-wrap: wrap;
    }

    &__column {
      @include below('tablet-xs') {
        width: 50%;
        margin-top: 30px;
      }
      @include below('mobile') {
        order: 2
      }
      @include below('mobile-s') {
        width: 100%;
      }

      h3 {
        margin-bottom: 20px;
      }

      ul {
        display: flex;
        flex-direction: column;

        li {
          padding-bottom: 5px;

          a {
            color: $black;
          }
        }
      }

      &--right {
        justify-content: space-between;
        flex-direction: column;
        display: flex;

        @include below('mobile') {
          order: 1;
        }

        & > img {
          max-width: 200px;
        }

        & > h3 {
          margin-top: 10px;
          margin-bottom: 10px;
        }

        & > p {
          padding-bottom: 5px;

          &:last-of-type {
            margin-top: 30px;
          }
        }

        & > a {
          margin-top: 10px;
          color: $red;
        }
      }
    }
  }

  .footerCopy {
    display: flex;
    width: 100%;
    border-top: 1px solid $grayTwo;
    padding: 30px 0;

    .container {
      flex-direction: row;
      justify-content: space-between;
      @include below('mobile') {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    p {
      display: flex;
      flex-direction: row;
      @include below('mobile') {
        margin-bottom: 15px;
      }

      &:last-of-type {
        @include below('mobile') {
          flex-direction: column;
          img {
            margin-top: 15px;
          }
        }
      }
    }

    a {
      color: $red;
      margin-left: 5px;

      &:hover {
        color: $blue;
      }
    }

    img {
      margin-top: -5px;
      margin-left: 15px;
    }
  }
}
