header {
  .topMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $grayTwo;

    .container {
      @include below('mobile-m') {
        flex-direction: column;
      }
    }

    &__contact {
      display: flex;
      flex-direction: row;
      align-items: center;

      &--mail {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        align-items: center;

        i {
          width: 20px;
          height: 14px;
          margin-right: 5px;
        }

        span {
          text-transform: uppercase;

          a {
            color: $black;
          }
        }
      }

      &--phone {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 15px;

        i {
          width: 15px;
          height: 14px;
          margin-right: 5px;
        }

        span {
          text-transform: uppercase;

          a {
            color: $black;
          }
        }
      }
    }

    &__customer-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      @include below('mobile-m') {
        margin-bottom: 5px;
      }

      &--lang {
        display: flex;
        flex-direction: row;
        padding: 0 10px;
        border-left: 1px solid $grayTwo;
        border-right: 1px solid $grayTwo;
        align-items: center;
        position: relative;
        @include below('mobile-m') {
          border: 0;
        }

        .icon--flag {
          position: absolute;
          right: 40px;
        }

        .dropdown--lang {

        }
      }

      &--client {
        display: flex;
        flex-direction: row;
        padding: 0 10px;
        border-right: 1px solid $grayTwo;
        align-items: center;
        @include below('mobile-m') {
          border: 0;
        }

        i {

        }

        .dropdown--client {

        }
      }
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    position: relative;

    .container {
      @include below('mobile-xl') {
        flex-direction: column;
      }
      @include below('mobile-m') {
        align-items: flex-start;
      }
      @include below('mobile-xs') {
        flex-direction: column;
        align-items: center;
      }
    }

    &__logo {
      @include below('mobile-xl') {
        margin-bottom: 20px;
      }

      img {

      }
    }

    &__search {
      display: flex;
      flex-direction: row;
      align-items: center;

      input {
        background-color: $grayTwo;
        border: 0;
        padding: 15px;
        outline: 0;
      }

      button {
        padding: 15px;
        background-color: $red;
        color: $white;
        outline: 0;
        border: 0;
        cursor: pointer;
        min-width: 80px;
      }
    }

    &__basket {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      position: relative;
      @include below('mobile-xl') {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
      @include below('mobile-xs') {
        margin-top: 20px;
        right: 0;
        position: relative;
        transform: none;
      }

      &--total {
        margin-right: 20px;
      }

      &--icon {
        background-color: $blue;
        width: 40px;
        height: 40px;
        display: flex;

        .icon {
          width: 40px;
          height: 40px;
        }

        &-indicator {
          position: absolute;
          font-size: 14px;
          font-weight: bold;
          border-radius: 100%;
          width: 18px;
          height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          background-color: $red;
          top: 60%;
          right: 2px;
          transform: translateY(-60%);
        }
      }
    }
  }

  .mainMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $red;

    .container {
      @include below('tablet') {
        flex-direction: column;
      }
    }

    &__navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      height: 100%;

      &--primary {
        width: 300px;
        @include below('tablet') {
          order: 2;
        }
      }

      &--secondary {
        width: calc(100% - 300px);
        margin-left: 15px;
        @include below('tablet') {
          width: 100%;
          order: 1;
        }
        @include below('mobile-m') {
          flex-direction: column;
        }
      }

      &--item {
        height: 100%;
        transition: all .5s ease-in-out;
        padding: 15px 0;

        &:not(:first-of-type) {
          padding: 15px;
        }

        &:hover {
          a {
            color: $black;
          }
        }

        a {
          color: $white;
          padding: 5px 0;
        }
      }

      &--item-categories {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        border-left: 2px solid $white;
        border-right: 2px solid $white;
        width: 300px;
        text-align: center;
        @include below('tablet') {
          border: 0;
        }
      }
    }
  }
}
