.categories {
  border: 2px solid $red;
  border-top: 0;
  left: 0;
  top: 30px;
  z-index: 99999;
  width: 300px;
  height: 500px;
  @include below('desktop-xs') {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  li {
    padding: 25px 20px;
    width: 90%;
    border-bottom: 1px solid $grayTwo;

    a {
      color: $black;
    }

    &:last-of-type {
      border: 0;
    }
  }

}
