.featured {
  border: 2px solid $blue;
  height: 100%;
  background-color: $white;
  margin-right: 10px;
  width: 350px;
  @include below('desktop-xs') {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 350px;
    margin-right: 0;
  }
  @include below('mobile-m') {
    flex-direction: column;
    min-height: 650px;
  }

  &--image {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 90%;
    }
  }

  &--info {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-name {
      margin: 40px 0;
      margin-top: 60px;
      @include below('desktop-xs') {
        margin: 20px 0;
        margin-top: 30px;
      }
      max-width: 80%;
    }

    &-price {
      margin-bottom: 40px;
      @include below('desktop-xs') {
        margin-bottom: 10px;
      }
      color: $red;
    }

    &-availability {
      margin-bottom: 30px;

      p {
        margin-bottom: 30px;
      }

      div {
        span {
          background-color: $grayTwo;
          padding: 10px 15px;
        }
      }
    }

    &-counter {
      margin-top: 50px;
      @include below('desktop-xs') {
        margin-top: 0;
      }

      p {
        color: $blue;
        margin-bottom: 40px;
        @include below('desktop-xs') {
          margin-bottom: 20px;
        }
      }

      &--box {
        span {
          background-color: $blue;
          padding: 10px 15px;
          color: $white;
        }
      }
    }
  }
}
