.icon {
  width: 20px;
  height: 20px;

  &--mail {
    background: url('/src/images/icons/mail.svg') no-repeat center center;
  }

  &--phone {
    background: url('/src/images/icons/phone.svg') no-repeat center center;
  }

  &--shield {
    background: url('/src/images/icons/shield.svg') no-repeat center center;
  }

  &--return {
    background: url('/src/images/icons/return.svg') no-repeat center center;
  }

  &--delivery {
    background: url('/src/images/icons/delivery.svg') no-repeat center center;
  }

  &--earth {
    background: url('/src/images/icons/earth.svg') no-repeat center center;
  }

  &--client {
    background: url('/src/images/icons/client.svg') no-repeat center center;
  }

  &--basket {
    background: url('/src/images/icons/basket.svg') no-repeat center center;
  }

  &--search {
    background: url('/src/images/icons/search.svg') no-repeat center center;
  }

  &--newsletter {
    background: url('/src/images/icons/newsletter.svg') no-repeat center center;
  }

  &--flag {
    background: url('/src/images/icons/flag.svg') no-repeat center center;
  }

  &--arrow-down {
    background: url('/src/images/icons/arrow-down.svg') no-repeat center center;
  }

  &--arrow-left {
    background: url('/src/images/icons/arrow.png') no-repeat center center;
    display: block;
  }

  &--arrow-right {
    background: url('/src/images/icons/arrow.png') no-repeat center center;
    transform: rotate(180deg);
    display: block;
  }
}
