.awesomplete [hidden] {
  display: none;
}

.awesomplete .visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  visibility: hidden;
}

.awesomplete {
  width: 100%;
  display: inline-block;
  position: relative;
  visibility: visible;
  z-index: 99999;
}

.awesomplete > input {
  display: block;
}

.awesomplete > ul {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
}

.awesomplete > ul:empty {
  display: none;
}

.awesomplete > ul {
  border-radius: .1em;
  //margin: .2em 0 0;
  background: $white;
  border-top: 0;
  border-left: 2px solid $red;
  border-right: 2px solid $red;
  border-bottom: 2px solid $red;
  //box-shadow: .05em .2em .6em rgba(0, 0, 0, .2);
  text-shadow: none;
}

@supports (transform: translateY(0)) {
  .awesomplete > ul {
    transition: .2s ease-in-out;
    transform-origin: bottom;
  }

  .awesomplete > ul[hidden],
  .awesomplete > ul:empty {
    opacity: 0;
    transform: translateY(0%);
    display: block;
    //transition-timing-function: ease;
  }
}

.awesomplete > ul > li {
  position: relative;
  padding: .2em .5em;
  cursor: pointer;
}

.awesomplete > ul > li:hover {
  background: hsl(200, 40%, 80%);
  color: white;
}

.awesomplete > ul > li[aria-selected="true"] {
  background: hsl(205, 40%, 40%);
  color: white;
}

.awesomplete mark {
  background: $grayTwo;
  opacity: 0.8;
}

.awesomplete li:hover mark {
  background: $grayTwo;
  opacity: 0.8;
}

.awesomplete li[aria-selected="true"] mark {
  background: hsl(86, 100%, 21%);
  color: inherit;
}
