.product {
  width: 170px;
  height: 380px;
  background-color: $white;
  margin: 10px;
  position: relative;
  @include below('desktop-xs') {
    width: calc(100% / 4 - 20px);
  }
  @include below('tablet-xs') {
    width: calc(100% / 3 - 20px);
  }
  @include below('mobile-s') {
    width: calc(100% / 2 - 20px);
  }

  @include below('mobile-xs') {
    width: 100%;
  }

  &:nth-child(4n) {
    margin-right: 0;
    @include below('tablet-xs') {
      margin: 10px;
    }
  }

  &--image {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;
    margin: 40px auto 20px auto;
    border-bottom: 1px solid $grayTwo;
    padding-bottom: 10px;

    img {
      width: 100%;
      max-width: 150px;
      max-height: 150px;
    }
  }

  &--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    height: 170px;
    padding-bottom: 20px;

    .button {
      border: 1px solid $grayTwo;
    }

    &-name {

    }

    &-price {
      color: $red;
    }
  }
}


.badge {
  position: absolute;
  top: 10px;
  font-size: 11px;
  border: 1px solid $black;
  border-left: 0;
  padding: 5px;

  &--recommend {
    left: 0;
  }

  &--discount {
    right: 0;
    background-color: $red;
    color: $white;
    border: 1px solid $white;
    border-right: 0;
  }

  &--new {
    left: 0;
  }
}
