.featured-boxes {
  display: flex;
  flex-direction: row;
  padding: 20px 0;

  .container {
    @include below('tablet') {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    margin: 15px;
    height: auto;
    @include below('tablet') {
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }
    @include below('mobile') {
      width: 100%;
    }

    &:first-of-type {
      margin-left: 0;
      @include below('mobile') {
        margin: 15px;
      }
    }

    &:last-of-type {
      margin-right: 0;
      @include below('mobile') {
        margin: 15px;
      }
    }

    &--four {
      position: relative;

      img {
        width: 50%;
        height: 140px;
      }

      &-text {
        position: absolute;
        max-width: 150px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: $green;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;

        h3 {
          text-align: center;
          color: $white;
          text-transform: uppercase;
        }

        button {
          margin-top: 15px;
        }
      }
    }

    &--single {
      position: relative;

      img {
        width: 100%;
        height: 280px;
      }

      &-text {
        position: absolute;
        right: 0;
        top: 80%;
        transform: translateY(-80%);
        display: flex;
        flex-direction: column;
        align-items: center;

        &.red {
          h3 {
            background-color: $red;
            color: $white;
          }
        }

        &.orange {
          h3 {
            background-color: $orange;
            color: $white;
          }
        }

        h3 {
          padding: 10px 25px;
        }

        button {
          margin-top: 50px;
        }
      }
    }
  }
}
