.info-boxes {
  .container {
    @include below('mobile-s') {
      flex-direction: column;
    }
  }

  &__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% / 3);
    margin: 15px;
    align-items: center;
    justify-content: center;
    @include below('desktop-xs') {
      flex-direction: column;
    }
    @include below('desktop-xs') {
      > div {
        margin-bottom: 20px;
        text-align: center;
      }
    }

    &:first-of-type {
      > div:first-of-type {
        background-color: $green;
      }

      i {
        width: 40px;
        height: 50px;
      }
    }

    &:nth-child(2) {
      > div:first-of-type {
        background-color: $red;
      }

      i {
        width: 50px;
        height: 50px;
      }
    }

    &:last-of-type {
      > div:first-of-type {
        background-color: $orange;
      }

      i {
        width: 60px;
        height: 50px;
      }
    }

    &--icon {
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      @include below('desktop-xs') {
        margin-right: 0;
      }
    }

    &--text {
      h3 {

      }

      p {

      }
    }
  }
}
