.newsletter {
  background-color: $orange;
  padding: 25px 0;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    @include below('tablet') {
      flex-direction: column;
    }
  }

  &--heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $white;

    @include below('mobile') {
      flex-direction: column;
    }

    i {
      width: 80px;
      height: 40px;
    }

    h3 {
      border-right: 1px solid $white;
      @include below('mobile') {
        border: 0;
        margin-bottom: 10px;
      }
      padding-right: 20px;
      display: flex;
      align-items: center;
    }

    p {
      padding-left: 20px;
      text-align: center;
    }
  }

  &--input-wrapper {
    display: flex;
    flex-direction: row;
    @include below('tablet') {
      margin-top: 10px;
    }

    input {
      border: 0;
      padding: 10px;
    }

    button {
      border: 0;
      padding: 0 15px;
      outline: 0;
      background-color: $red;
      cursor: pointer;
      color: $white;
    }
  }
}
