.product-carousel {
  background-color: $grayTwo;
  padding-top: 40px;
  padding-bottom: 20px;

  .container {
    flex-direction: column;
  }

  h3 {
    margin-bottom: 10px;
  }

  &--wrapper {
    width: 100%;
    //display: flex;
    //flex-direction: row;
    .product--image {
      height: 190px;
    }

    .product {
      @include below('desktop-xs') {
        width: calc(100% - 20px);
      }
      @include below('tablet-xs') {
        width: calc(100% - 20px);
      }
      @include below('mobile-s') {
        width: calc(100% - 20px);
      }
    }
  }

  .productSliderPrev {
    left: -30px;
    position: absolute;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    outline: 0;
    cursor: pointer;
    padding: 30px 10px;
    border: 0;
    @include below('desktop-xs') {
      left: 25px;
    }
  }

  .productSliderNext {
    padding: 30px 10px;
    right: -30px;
    position: absolute;
    background-color: transparent;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    outline: 0;
    border: 0;
    @include below('desktop-xs') {
      right: 25px;
    }
  }
}
