.product-grid {
  margin-top: 50px;
  background-color: $grayTwo;

  .container {
    padding: 20px 0;
    align-items: flex-start;
    justify-content: flex-start;
    @include below('desktop-xs') {
      display: flex;
      flex-direction: column;
    }
  }

  &__featured {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 823px;
    @include below('desktop-xs') {
      height: 100%;
      width: 100%;
      flex-direction: row;
    }

    h3 {
      text-align: center;
      padding: 10px 0;
      @include below('desktop-xs') {
        padding-left: 20px;
        position: absolute;
      }
      @include below('mobile-m') {
        position: relative;
        padding-left: 0;
      }
    }

    &--wrapper {

    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    height: 823px;
    @include below('desktop-xs') {
      height: 100%;
    }

    h3 {
      align-self: center;
      padding-bottom: 10px;
      @include below('desktop-xs') {
        margin-top: 20px;
      }
    }

    &--wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      @include below('tablet-xs') {
        justify-content: flex-start;
      }
    }
  }
}
