.slider {
  .container {
    @include below('desktop-xs') {
      padding: 0;
    }
  }

  &__wrapper {
    width: calc(100% - 300px);
    position: relative;
    @include below('desktop-xs') {
      width: 100%;
    }
  }

  .mainSliderPrev {
    left: 0;
    position: absolute;
    background-color: $grayTwo;
    top: 50%;
    transform: translateY(-50%);
    outline: 0;
    cursor: pointer;
    padding: 30px 10px;
    border: 0;
  }

  .mainSliderNext {
    padding: 30px 10px;
    right: 0;
    position: absolute;
    background-color: $grayTwo;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    outline: 0;
    border: 0;
  }

  .dotsWrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    button {
      border-radius: 100%;
      width: 10px;
      height: 12px;
      cursor: pointer;
      margin: 2px;
      outline: 0;
      border: 1px solid $white;
      text-indent: -9999px;

      &.active {
        border: 1px solid $white;
        background-color: $red;
      }
    }
  }
}

.slide {
  position: relative;
  height: 500px;
  @include below('desktop-xs') {
    width: 100%;
  }
  @include below('mobile-s') {
    height: 350px;
  }

  &__image {
    img {
      width: 100%;
      height: 500px;
      @include below('mobile-s') {
        height: 350px;
      }
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    text-align: right;
    max-width: 300px;
    @include below('mobile-s') {
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &--heading {
      color: $white;
      text-transform: uppercase;
    }

    button {
      margin-top: 20px;
    }
  }
}
