/**
 * Fonts
*/
// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=latin-ext');

// Font Variables
$roboto: 'Roboto', sans-serif;

.font {
  font-family: "Roboto", sans-serif;

  &--small-s {
    font-size: 11px;
  }

  &--small {
    font-size: 12px;
  }

  &--small-x {
    font-size: 14px;
  }

  &--normal-s {
    font-size: 15px;
  }

  &--normal {
    font-size: 16px;
  }

  &--normal-x {
    font-size: 18px;
  }

  &--medium-s {
    font-size: 20px;
  }

  &--medium {
    font-size: 22px;
  }

  &--medium-x {
    font-size: 24px;
  }

  &--big {
    font-size: 44px;
    @include below('mobile-s') {
      font-size: 30px;
    }
  }

  &--weight-light {
    font-weight: 400;
  }

  &--weight-normal {
    font-weight: 500;
  }

  &--weight-bold {
    font-weight: 700;
  }

  &--weight-xbold {
    font-weight: 900;
  }
}

