/**
 * Helper mixins
*/

$media: screen;
@mixin below ($device) {

  @if map-has-key($breakpoints, $device) {
    @media #{$media} and (max-width: map-get($breakpoints, $device)) {
      @content;
    }
  } @else {
    @error 'no breakpoint found in $breakpoints for #{$device}.';
  }
}

@mixin above ($device) {

  @if map-has-key($breakpoints, $device) {
    @media #{$media} and (min-width: map-get($breakpoints, $device)) {
      @content;
    }
  } @else {
    @error 'no breakpoint found in $breakpoints for #{$device}.';
  }
}
