/**
 * Variables
*/

/* Colors */
$blue: #1fb6ec;
$red: #e32823;
$white: #ffffff;
$green: #82c94d;
$orange: #ff6f3f;
$gray: #aeaeae;
$black: #000000;
$grayTwo: #f4f4f4;

/* default container width */
$mainWrapperWidth: 1140px;
